<div class="home">
  <h1 style="color:rgba(94, 39, 39, 0.743); font-weight:bold"> Current Blogs </h1>
</div>

{{#if loggedIn}}
{{#each blogs}}
<a href="/api/blogs/{{id}}" class="blogLink">
  <div class="post">
    <p>{{format_date createdAt}}</p>
    <h2>{{title}}</h2>
    <p>{{content}}</p>
  </div>
</a>
{{/each}}
{{/if}}

{{#unless loggedIn}}
{{#each blogs}}
<div class="post">
  <h2>{{title}}</h2>
  <p>{{content}}</p>
</div>
{{/each}}
{{/unless}}